
# generated folders
compiler/build
compiler/generated
tests/ifcc-test-output
antlr
.antlr

# generated test file
tests/test-output.txt
tests/output.txt

# code editor
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*exe-gcc
*exe-ifcc
ifcc

